<!DOCTYPE html>
<html>
<head>This is the time!</head>
<body>
  <h1>The current time is : <%=Time.now%></h1>
  <p>This is ruby! <% 5+ 10%>  <%="drop it".upcase%></p>
  <p>Also ruby code: <% array = [1,2,3,4] << 5 %></p>
  <p>This is the array via interploation <%= array%></p>
  <p><%[1,2,3].each do |num|%></p>
  <p><%=num%></p>
  <p><%end%><p>
</body>
</html>
<!-- will do non return value for arracy .each
the only thing you want retunred is the name!All three of these print out the return value
of their respective method
<%= gives the return value =>
